*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(/image/bg-desktop.svg);
    background-size: cover;
    background-position: right;
}

.container{
    max-width: 80rem;
    margin: 0 auto;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}
.wrapper{
    display: flex;
    /* align-items: center; */
    gap: 3rem;
}

.header img{
    width: 10rem;
    margin-bottom: 3rem;
}

.header-text h1,p{
    color: white;
    margin-bottom: 2rem;
    line-height: 1.5;
    margin-top: 2rem;
}
.header-text h1{
    font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 38px;
padding-top: 1rem;
}
.header-text p{
    font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: whitesmoke;
}

.header-text a{
    text-decoration: none;
    background-color: white;
    padding: 0.7rem 3rem;
    border-radius: 1.5rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.foot{
    padding: 20px;
   font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

    .icons{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 15px;
        padding-top: 40px;
        padding-left: 40px;
        
    }
    .fa{
        padding: 15px 5px;
  font-size: 11px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60rem;
  border: 1.5px solid white;
  color: white;
    }

@media screen and (max-width: 875px){
    body {
        height: auto;
        width: fit-content;
        background-image: url(./images/bg-mobile.svg);
        background-size: 100% 50%;
        }
        .container {
            height: auto;
            padding: 0;
            width: 800px;
        }
        .wrapper{
            flex-direction: column;
            align-items: center;
        }
        .header{
            width: 300px;
        }
        .header-text{
            width: 70%;
            text-align: center;
            margin-top: 50px;
        }
        .header-text>h1{
            font-size: 3em;
        }
        .header-text>p{
            font-size: 1.45em;
            padding-bottom: 2rem;
        }
        .header-text>a{
            width: 300px;
            padding: 1.8rem 10rem 1.8rem 10rem;
            border-radius: 2.5rem;
            text-size-adjust: 1rem

        }
        .content{
            margin-top: 100px;
        }
        .icons{
            justify-content: center;
            margin: 1rem 0 0 0;
            gap: 10px;
        }

}

